<% search_term = params[:search].present? ? params[:search] : 'All Dogs' %>
<h1>Results for "<%= search_term %>"</h1>

<%= form_with url: dogs_path, method: :get, local: true do %>
  <%= label_tag :search, "Search Dogs:" %>
  <%= text_field_tag :search, params[:search], placeholder: "Enter breed or owner's name" %>
  <%= submit_tag "Search" %>
<% end %>

<div class="dog-list">
  <% @dogs.each do |dog| %>
    <div class="dog-item">
      <%= link_to image_tag(dog.image_url, alt: dog.breed, style: "width: 200px; height: auto;"), dog_path(dog) %>
      <p>Owner: <%= dog.owner&.name || 'Unknown' %></p>
      <p>Breed: <%= dog.breed.titleize %> <%= dog.sub_breed.present? ? "(#{dog.sub_breed.name.titleize})" : "" %></p>
    </div>
  <% end %>
</div>
