<h1>All Dogs</h1>

<%= form_with url: dogs_path, method: :get, local: true do %>
  <div>
    <%= label_tag :search, "Search Dogs" %>
    <%= text_field_tag :search, params[:search], placeholder: "Enter breed or owner name" %>
    <%= submit_tag "Search" %>
  </div>
<% end %>

<% paginated_dogs = Kaminari.paginate_array(@dogs).page(params[:page]).per(20) %>

<div class="dog-list">
  <% paginated_dogs.each do |dog| %>
    <div class="dog-item">
      <%= link_to image_tag(dog.image_url, alt: dog.breed, style: "width: 200px; height: auto;"), dog_path(dog) %>
      <p>Owner: <%= dog.owner&.name || 'Unknown' %></p>
      <p>Breed: <%= dog.breed.titleize %> <%= dog.sub_breed.present? ? "(#{dog.sub_breed.name.titleize})" : "" %></p>
    </div>
  <% end %>
</div>

<%= paginate paginated_dogs %>
